<div class="card m-3">
  <%= tag :img, src: static_path(@conn, "/images/modest_greeter.svg"),
    alt: "Robot", style: "width: 100%; max-width: 320px",
    class: "card-image-top mx-auto" %>
  <div class="card-body text-white bg-success">
    <p class="card-text lead">
      <i class="fa fa-smile-o"></i>
      Hello, <%= @name %>!
    </p>
  </div>
</div>
