<%
  names = ~w(Alice Bob Charlie)
%>
<div class="jumbotron m-1">
  <h1 class="display-3"><%= document_title(assigns) %></h1>
  <p class="lead">ModestGreeter へようこそ！</p>
  <hr>
  <p><%= link "このサイトについて", to: top_path(@conn, :about) %></p>
</div>
<nav class="nav nav-inline mb-1">
  <%= for name <- names do %>
    <%= link name, to: hello_path(@conn, :show, name), class: "nav-link" %>
  <% end %>
</nav>
